body:not(.container) {
    background-color: #e3e3e3;
}

.container {
    margin-top: 62px;
    background-color: white;
}

.commentButtons {
    margin-top: 10px;
}

#sumInComment {
    float: right;
    opacity: .8;
    position: absolute;
    right: 30px;
    bottom: 10px;
}

#commentStatus {
    font-weight: bold;
    position: absolute;
    bottom: 10px;
}

#garbageComment {
    float: right;
}

#commentNumber {
    font-weight: bold;
    font-size: 25px;
}

#dateOfCreation {
    font-weight: bold;
    margin-top: 10px;
}

