body:not(.container) {
    background-color: #e3e3e3;
}

.container {
    background-color: white;
}

section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.titleCard {
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    color: gray;
}


